@model CloudComputing.Examen1.Models.HistorialCertificado

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>HistorialCertificado</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>


            <div class="form-group">
                <label asp-for="ParticipanteId" class="control-label"></label>
                <select asp-for="ParticipanteId" asp-items="@ViewBag.ListaParticipantes" class="form-select">
                    <option selected="selected" value="">--Elija un Participante--</option>
                </select>
                <span asp-validation-for="ParticipanteId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EventoId" class="control-label"></label>
                <select asp-for="EventoId" asp-items="@ViewBag.ListaEventos" class="form-select">
                    <option selected="selected" value="">--Elija un Evento--</option>
                </select>
                <span asp-validation-for="EventoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CertificadoId" class="control-label"></label>
                <select asp-for="CertificadoId" asp-items="@ViewBag.ListaCertificados" class="form-select">
                    <option selected="selected" value="">--Elija un Certificado--</option>
                </select>
                <span asp-validation-for="CertificadoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PagoId" class="control-label"></label>
                <select asp-for="PagoId" asp-items="@ViewBag.ListaPagos" class="form-select">
                    <option selected="selected" value="">--Elija un Pago--</option>
                </select>
                <span asp-validation-for="PagoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
