@model CloudComputing.Examen1.Models.Certificado

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Certificado</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="FechaEmision" class="control-label"></label>
                <input asp-for="FechaEmision" class="form-control" />
                <span asp-validation-for="FechaEmision" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cuerpo" class="control-label"></label>
                <input asp-for="Cuerpo" class="form-control" />
                <span asp-validation-for="Cuerpo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UrlPdf" class="control-label"></label>
                <input asp-for="UrlPdf" class="form-control" />
                <span asp-validation-for="UrlPdf" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EventoId" class="control-label"></label>
                <select asp-for="EventoId" asp-items="@ViewBag.ListaEventos" class="form-select">
                    <option selected="selected" value="">--Elija un Evento--</option>
                </select>
                <span asp-validation-for="EventoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstadoCertificadoId" class="control-label"></label>
                <select asp-for="EstadoCertificadoId" asp-items="@ViewBag.ListaEstadoCertificados" class="form-select">
                    <option selected="selected" value="">--Elija un Estado--</option>
                </select>
                <span asp-validation-for="EstadoCertificadoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
